@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Baloo+Bhaijaan+2:wght@700&family=Baloo+Bhaina+2:wght@500&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: bold;
    /* font-size: 3em; */


}

body {
    background-color: rgb(142, 150, 153);

}

.container {
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.tile {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-size: 4em;
    text-shadow: -1px 1px 0 #000,
        3px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerX {
    color: rgb(255, 115, 0);
}

.playerO {
    color: white;
}

.title {
    text-align: center;

}

.title h1 {
    background-color: #34495e;
}

.display {
    text-align: center;
    bottom: 10px;
    margin-bottom: 0px;
    margin-top: 25px;
    font-size: 20px;
}

.controls {
    margin-top: 20px;
    position: fixed;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.hide {
    /* display: none; */
    opacity: 0;
}

.announcer {
    margin-top: 20px;
}

.btn {
    font-size: larger;
    margin: 12px;
    margin-top: 46px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 6px;
}

.btn:hover {
    color: white;
    background-color: black;
    border: 2px solid white;

}

.name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.x {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 0 0 0;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 5px 5px 5px black;
    font-size: 50px;
    line-height: 20px;
    
    margin-top: 12px;
    background-color: white;
}

.main {
    display: flex;
}

.winning {
    font-size: 33px;
}

.player1 h3{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.WIN{
    display: flex;
    font-size: 30px;
    justify-content: center;
}

.winningTIE{
    color: white;
}